.about {
    display: grid;
    gap: 3em;
    grid-template-columns: minmax(300px, 360px) minmax(400px, 700px);
    margin: 128px auto;
    justify-content: center;
    align-content: center;


    &__picture {
        aspect-ratio: 1 / 1;
        display: block;
        background-color: hotpink;
    }
}

.tools {
    margin-bottom: 2em;

    &__progress-bars {
        line-height: 0;

        &__label {
            font-size: 1.4rem;
            font-weight: 500;
            background-color: hotpink;
            margin: 1.8em 0 1em;
        }
        
        &__bar {
            height: .8rem;
            background: $tools-bar-bg;
        }
    
        &__progress {
            display: block;
            height: 100%;
            background: $accent-color;
        }
    }
}

.one {
    width: 95%;
}

.two {
    width: 85%;
}

.three {
    width: 65%;
}

.four {
    width: 90%;
}

.five {
    width: 75%;
}

@media screen and (min-width: 800px) {
    
}

