.about {
    margin-left: auto;
    padding-top: $header-height;

    &__picture > img {
        width: 100vw;
    }

    &__container {
        max-width: 650px;
        padding-bottom: 6em;
    }

    &__links {
        grid-column: 2 / 3;
        display: flex;
        flex-wrap: wrap;
        column-gap: .8em;
        padding-top: 30px;
    }

    &__title,
    .tools__title {
        border-top: 2px solid $main-color;
        font-size: 3rem;
        margin: 10px 0 40px;
        padding-top: 20px;
    }

    &__info {
        font-size: 1.3rem;
        margin-bottom: 3.5em;
    }
}

.tools {
    margin-bottom: 3em;

    &__subtitle {
        font-size: 2.5rem;
        font-weight: 500;
        margin: 2em 0 1.2em;
        line-height: 0;
    }

    &__subtitle:nth-of-type(2) {
        margin-top: 2em;
    }

    &__label {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 0 .5em;
    }
    
    &__bar {
        background: $tools-bar-bg;
        height: .7rem;
        margin-bottom: 1em;
    }

    &__progress {
        display: block;
        height: 100%;
        background: $main-color;
    }
}

.half {
    width: 50%;
}

.two-third {
    width: 70%;
}

.three-fourth {
    width: 80%;
}

.max {
    width: 95%;
}

@media (min-width: 440px) {
    .about {
        &__title,
        .tools__title {
            font-size: 4.5rem;
        }
    }
    
    .tools {        
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5em;
        }
    }
}

@media (min-width: 550px) {
    .about__picture > img {
        margin-left: $mobile-margin;
        max-width: 300px;
    }
}

@media (min-width: 730px) {
    .container {
        margin-inline: auto $mobile-margin;
    }

}

@media (min-width: 850px) {
    .about {
        display: grid;
        grid-template-columns: $picture-width calc(438px + 8vw);
        column-gap: $mobile-margin;
        justify-content: center;

        &__container {
            grid-column: 2 / 3;
            margin: 0 0 30px 0;
            padding-bottom: 0;
        }

        &__picture {
            box-sizing: border-box;
            height: 50vh;
            margin-bottom: 15.8em;
            position: sticky;
            top: calc(#{$logo-height} + calc(#{$mobile-margin}  - 7px)*2);

            &::before {
                background-color: $accent;
                content: '';
                display: inline-block;
                height: $picture-width;
                left: -600px;
                position: absolute;
                width: 80vh;
                z-index: -1;
            }

            & img {
                margin-left: 0;
                width: $picture-width;
                max-width: 300px;
            }
        }

        &__links {
            padding-top: 184px;
        }
    }

}

@media (min-width: 1024px) {
    .about {
        grid-template-columns: 300px 600px;

        &__picture {
            margin-bottom: 15.8em;
            
            & img {
                width: 300px;
            }
    
            &::before {
                height: 300px;
                right: calc(100vw - #{$picture-width} - 650px);
                width: 90vh;
            }
        }
        
        &__links {
            padding-top: 255px;
        }
    }
}