.cta__btn,
.about__btn,
.form__btn {
    background-color: $main-color;
    border: none;
    color: white;
    display: inline-block;
    line-height: 1.2;
    padding: .75em 1.75em;
    text-align: center;
    text-decoration: none;
}

.about__btn {
    width: 100%;
}

.cta__btn:hover,
.about__btn:hover,
.form__btn:hover {
    opacity: .8;
}