.cta__btn,
.about__btn,
.form__btn {
    background-color: $main-color;
    border: none;
    color: white;
    display: inline-block;
    line-height: 1.2;
    padding: .75em 1.75em;
    text-align: center;
    text-decoration: none;
    transition: $transition-default;
}

.cta__btn {
    margin-top: .6em;
}

.about__btn {
    width: 100%;
}

.cta__btn:hover,
.about__btn:hover,
.form__btn:hover {
    opacity: .8;
}

.to-top {
    aspect-ratio: 1 / 1.2;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    inset: auto 0 0 auto;
    margin: $mobile-margin;
    outline: 1px solid transparent;
    outline-offset: 60px;
    // padding: $mobile-margin;
    position: fixed;
    transition: $transition-default;
    z-index: 2;
}

.to-top:hover {
    outline-color: $white-transparent;
    outline-offset: 24px;
}

.arrow {
    fill: none;
    stroke: $white;
    stroke-width: 5;
    stroke-miterlimit: 10;
}