.cta__btn,
.about__btn,
.form__btn {
    background-color: $primary;
    border: none;
    color: white;
    display: inline-block;
    line-height: 1.2;
    padding: .75em 1.75em;
    text-align: center;
    text-decoration: none;
    transition: $transition;
}

.cta__btn {
    margin-top: .6em;
}

.about__btn {
	margin-top: $mobile-margin;
    width: 100%;
}

.cta__btn:hover,
.about__btn:hover,
.form__btn:hover {
    opacity: .8;
}

.to-top {
    aspect-ratio: 1 / 1.2;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    inset: auto 0 0 auto;
    margin: $mobile-margin;
    outline: 1px solid transparent;
    outline-offset: 60px;
    // padding: $mobile-margin;
    position: fixed;
    transition: $transition;
    z-index: 2;
}

.to-top:hover {
    outline-color: $gray-0;
    outline-offset: 24px;
}

.arrow {
    fill: none;
    stroke: $gray-1;
    stroke-width: 5;
    stroke-miterlimit: 10;
}