.contact {
    background-color: $primary;
    color: $gray-1;
    display: grid;
    height: calc(100vh - $header-h);
    padding-inline: $mobile-margin;
    place-content: center;
    text-align: center;
    width: 100%;
    z-index: 1;

    &__text {
        margin-bottom: $space-s;
    }

    &__text:first-child {
        margin-top: -2em;
    }

    &__link {
        color: $gray-1;
        font-size: 4rem;
        font-weight: 550;
    }
}

// .form {
//     display: grid;
//     margin-inline: auto;
//     width: calc(100% - 2 * #{$mobile-margin});
    
//     &__title {
//         margin-top: 3rem;
//     }

//     &__label {
//         font-weight: $fw-l;
//     }

//     &__wrap {
//         display: grid;
//     }

//     &__wrap::after {
//         content: attr(data-replicated-value) " ";
//         grid-area: 1 / 1 / 2 / 2;
//         visibility: hidden;
//         white-space: pre-wrap;
//     }

//     &__input,
//     &__wrap::after {
//         width: 100%;
//         margin: .2em 0 1em;
//         padding: .8em 1em;
//         background-color: $gray-3;
//         border: 0;
//         resize: none;

//         &:focus {
//             outline: 2px solid $primary;
//         }

//         &::placeholder {
//             font-weight: 300;
//         }
//     }

//     textarea {
//         grid-area: 1 / 1 / 2 / 2;
//         min-height: 8em;
//         overflow: hidden;
//     }

//     #message {
//         overflow: auto;
//     }

//     &__btn {
//         width: 100%;
//     }
// }

@media screen and (min-width: 800px) {
    .contact {

        &::after {
            content: 'Thanks for visiting';
            display: block;
            font-size: $fz-xxs;
            height: max-content;
            left: calc(#{$mobile-margin} - 7px);
            position: fixed;
            top: 55%;
            width: min-content;
            writing-mode: vertical-rl;
            transform: rotate(-180deg) translateY(55%);
        }
        
        &__text {
            margin: 0;
        }

        &__link {
            font-size: $fz-xxxl;
            margin-top: .2em;
        }
    }
    // .contact {
    //     margin: 0 auto;
    //     max-width: 80vw;
    // }

    // .form {
    //     max-width: 80%;
    //     margin: 0 auto;
    // }
}