.footer {
    box-shadow: 0 -2px 0 $accent-color;
    padding: 0 $mobile-margin;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__links {
        display: none;
    }

    &__link {
        text-decoration: none;
        color: $accent-color;
        font-weight: 500;
        margin-left: 3vw;
    }

    &__icons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(3px);
    }

    &__icon {
        margin-left: 10%;
    }

    .behance,
    .linkedin {
        height: 16.5px;
        transform: translateY(-2px);
    }

    .linkedin {
        height: 18px;
        transform: translateY(-2px);
    }

    .github {
        height: 20px;
    }

    .codepen {
        height: 21px;
    }

    .insta {
        height: 24px;
    }
}

@media screen and (min-width: 700px) {
    .footer {
        padding: 0 2rem;

        &__links {
            display: unset;
        }

        &__icons {
            display: none;
        }
    }
}