.header {
    background-color: $white;
    padding: calc(#{$mobile-margin} - 8px) $mobile-margin calc(#{$mobile-margin} - 6px);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        line-height: 0;
    }
}

.header-dummy {
    height: calc(#{$logo-height} + calc(#{$mobile-margin}  - 7px)*2);
}

.logo {
    height: $logo-height;
}

.nav {
    visibility: hidden;
    font-size: 1.2rem;

    &__list {
        list-style: none;
        display: flex;
        gap: 1.75em;
        margin: 0;
    }
    &__link {
        text-decoration: none;
        color: $main-color;
        font-weight: 500;
    }
}

.hamburger {
    visibility: hidden;

    &__open {
        display: inline-block;
        margin-right: $mobile-margin;
        transform: translateY(-1px);
        visibility: visible;
    
        &,
        &::before,
        &::after {
        background-color: $main-color;
        content: '';
        height: 4px;
        width: 24px;
        position: absolute;
        right: 0;
        }
    
        &::before {
            transform: translateY(8px);
        }
    
        &::after {
            transform: translateY(-8px);
        }
    }
    
    &__close {
        visibility: visible;
        margin-right: $mobile-margin;
    
        &,
        &::after {
            background-color: $main-color;
            content: '';
            height: 4px;
            width: 26px;
            position: absolute;
            right: 0;
            transform: rotate(45deg);
        }
    
        &::after {
            transform: rotate(-90deg);
        }
    }
}



@media screen and (min-width: 550px) {
    .nav {
        visibility: visible;
    }

    .hamburger div {
        visibility: hidden;
    }
}