.header {
    background-color: rgba($white, .8);
    border-bottom: 2px solid $accent-color;
    padding: .2rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-dummy {
    height: 101.2px;
}

.logo {
    height: 40px;
    transform: translateY(5px);
}

.nav {
    visibility: hidden;
    font-size: 1.6rem;

    &__list {
        list-style: none;
        display: flex;
        gap: 1.75em;
    }
    &__link {
        text-decoration: none;
        color: $accent-color;
        font-weight: 500;
    }
}

.nav-toggle {
    visibility: hidden;
}

.hamburger {
    visibility: visible;
    margin-right: 2rem;

    &,
    &::before,
    &::after {
    background-color: $accent-color;
    content: '';
    display: block;
    height: 4px;
    width: 24px;
    position: absolute;
    right: 0;
    }

    &::before {
        transform: translateY(8px);
    }

    &::after {
        transform: translateY(-8px);
    }
}

@media screen and (min-width: 600px) {
    .nav {
        visibility: visible;
    }

    .hamburger {
        visibility: hidden;
    }
}