.resume {
	background-color: #efefef;

	&__container {
		margin: 0 auto;
		padding: 0 $mobile-margin $section-margin;
	}
	&__title {
		grid-column: span 2;
		margin: 0;
	}

}

@media (min-width: 800px) {
	.resume {

		&__container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			max-width: 80vw;
		}
	}
}