.resume {
	margin: 0 auto;
	padding-inline: $mobile-margin;

	&__title {
		grid-column: span 2;
	}

}

@media (min-width: 800px) {
	.resume {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 80vw;
	}
}