@import url(https://api.fontshare.com/css?f[]=clash-display@1&display=swap);

body {
    font: $fw-s $fz-s / 1.4 'Clash Display', sans-serif;
    color: $primary;
}

h1, h2, h3, h4 {
    line-height: 1.1;
}

a {
    color: $primary;
    font-size: $fz-xs;
    font-weight: $fw-l;
    text-decoration: none;
}

.title {
    font-size: $fz-xl;
    margin: $space-xs 0 $space-l;
}

.subtitle {
    font-size: $fz-l;
    font-weight: $fw-l;
    margin: 1em 0 .6em;
}

.subtitle:nth-of-type(2) {
    margin-top: 2em;
}

.hero {
    display: grid;
    height: 100vh;
    place-content: center;
    text-align: center;

    h1 {
        font-size: $fz-xxl;
        margin: 0 $mobile-margin;
    }

    &__subtitle {
        font-size: $fz-m;
        font-weight: $fw-s;
    }
}

.cta {
    background-color: $gray-1;
    position: relative;
    z-index: 2;
}

@media (min-width: 440px) {
    .title {
        font-size: $fz-xxl;
    }
}

@media screen and (min-width: 900px) {
    .hero {

        &__title {
            font-size: $fz-xxxl;
        }

        &__subtitle {
            font-size: $fz-l;
        }
    }
}