@import url(https://api.fontshare.com/css?f[]=clash-display@1&display=swap);

body {
    font: $font-size-s 'Clash Display', sans-serif;
    color: $main-color;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    line-height: 1;
}

a {
    color: $main-color;
    font-size: $font-size-xs;
    font-weight: 500;
    text-decoration: none;
}

.title {
    font-size: $font-size-xl;
    margin: 10px 0 40px;
}

.subtitle {
    font-size: $font-size-l;
    font-weight: 500;
    margin: 1em 0 .6em;
}

.subtitle:nth-of-type(2) {
    margin-top: 2em;
}

.hero {
    display: grid;
    height: 100vh;
    place-content: center;
    text-align: center;

    &__title {
        font-size: $font-size-xxl;
        margin: 0 $mobile-margin;
    }

    &__subtitle {
        font-size: $font-size-m;
        font-weight: 400;
    }
}

.cta {
    background-color: $white;
    position: relative;
    z-index: 2;
}

@media (min-width: 440px) {
    .title {
        font-size: $font-size-xxl;
    }
}

@media screen and (min-width: 900px) {
    .hero {

        &__title {
            font-size: $font-size-xxxl;
        }

        &__subtitle {
            font-size: $font-size-l;
        }
    }
}