// Colors
$accent: #FFC528;
$main-color: #161616;
$gallery-hover: #3b3b3b;
$tools-bar-bg: #e4e4e4;
$white: #fff;
$white-transparent: #ffffffb3;

// Layout
$section-margin: 4em;

// Header
$border-width: 2px;
$burger-line-height: 4px;
$burger-line-width: 28px;
$header-height: 106px;
$mobile-margin: 40px;
$logo-height: 34px;

// Gallery
$gallery-width: 100vw;
$gallery-gutter: 10px;
$ar-sq: 1 / 1;
$ar-wide: 2 / 1;
$ar-tall: 1 / 2;
$ar-big: 2 / 3;
$row-height: calc((#{$gallery-width} - #{$gallery-gutter} * 4) / 5);

// About Me
$picture-width: calc(200px + 3vw);

//Animation
$transition-default: 200ms ease;

// Footer
$footer-height: 70px;