// Colors
$main-color: #191919;
$gallery-hover: #3b3b3b;
$tools-bar-bg: #e9e9e9;
$white: #fff;

// Header
$mobile-margin: 40px;
$logo-height: 36px;
$border-width: 2px;

// Gallery
$gallery-width: 100vw;
$gallery-gutter: 10px;
$ar-sq: 1 / 1;
$ar-wide: 2 / 1;
$ar-tall: 1 / 2;
$ar-big: 2 / 3;
$row-height: calc((#{$gallery-width} - #{$gallery-gutter} * 4) / 5);

// About Me
$picture-width: calc(200px + 3vw);